h1{
    color: #00FFFF
}
*{
    border: solid
}
.header{
    background-color:#008080;
    display:flex;
    justify-content: space-between;
}
.games{
    background-color:#0080FF;
    display:flex;
    justify-content: space-between;
}
.games :hover{
    transform:scale(1.5);
}
.socialMedia{
    background-color: #0000FF;
    display:flex;
    justify-content: flex-end;
}
body{
    background-color: #808080;
}